/* colors

apple green #8DB600
slate gray #2F4F4F

*/

p, span {
    color: #ffffff;
}
h1, h3, h4, h5, h6{
   
    color: #ffff;
    font-weight: 700;
}
h2 {
    color: #ffff;
    font-weight:700;
    font-size: 1.5rem;
}
h3 {
    font-size: 1.5rem;
}
body{
    --header-height: 50px;
    background-color: rgb(37, 44, 84);
    font-family: 'Poppins', sans-serif;
    margin: var(--header-height) 0 0 0;
    overflow: auto;
    font-size: 16px;
}

/* NAV BAR STYLING STARTS HERE*/
.hometitle {
    text-decoration: none;
}
.header { /*fix header text vertical centering on small screen */
    padding-left: 20px;
    padding-right: 20px;
    z-index: 8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background: green;
    display: flex;
    align-items: center;
}
.header img {
    height: var(--header-height);
    margin-right: 1em;
}
.hamburger {
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    color: #ffff;
    width: var(--header-height);
    flex-shrink: 0;
    margin-left: auto;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    height: 100vh;
    width: 250px;
    background: gray;
    transform: translateX(250px);
    transition: transform 0.5s;
}
.overlay {
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(1px);
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}
.nav--open .sidebar {
    transform: translateX(0px);
    box-shadow:  0 0 15px rgba(0, 0 ,0, 0.2);
}
.nav--open .overlay {
    visibility: visible;
    opacity: 1;
}
.sidebar h2 {
    text-align: center;
    line-height: 70px;
    user-select: none;
}
.nav-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}
.nav-ul a {
    display: flex;
    align-items: center;
    color: #FFFF;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 12px 15px;
}
.nav-ul a:hover {
    background: #000;
}
/* NAV BAR STYLING ENDS HERE*/

/* ==================================================HERO START */
.hero-section {
    margin: 0 auto;
    text-align: center;
    background-color: #1177C1;
}
.hero-section img {
    width: 75%;
}
.announcement {
    color: white;
    background-color: black;
}
.announcement h1 {
    font-size: 2rem;
}

.container {   
    margin: 0 auto;
    display: flex;

}
@media (max-width: 1024px) {
    .container {   
        flex-direction: column;
    }
}
.container h1 {
    margin-top: 0.5em;
}
/* ==================================================HERO END */



/* ==================================================BB START */

.container{
    margin: 0 auto;
}
.bb-grid{
    display: grid;
    grid-template-columns: auto auto auto;
}




/* ==================================================BB END */
